node-red-data/.flows.json.backup
[{"id":"2342772e.7a8418","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f0c9716e.a8cd6","type":"subflow","name":"verifico dispositivo","info":"Recibe la data, \ndetermina el dispositivo y \nretorna un payload para insertar en BD","in":[{"x":60,"y":160,"wires":[{"id":"aeed9c0f.b03eb"}]}],"out":[{"x":1694,"y":363,"wires":[{"id":"f43c4231.bef4f","port":0}]}]},{"id":"910ddb11.615398","type":"subflow","name":"PreparaTabla","info":"","in":[{"x":40,"y":40,"wires":[{"id":"f854c8a8.4e0968"}]}],"out":[{"x":700,"y":40,"wires":[{"id":"d3823fa2.574d7","port":0}]}]},{"id":"5fd8418d.25117","type":"subflow","name":"Autorización","info":"Obtiene  'msg.req.headers.tokenaccess'\nrevisa que exista en REDIS \n\n*Si existe, elimina el token enviado y genera un token nuevo, lo agrega al header de respuesta\n\n*Si NO existe, retorna un status code 401, y responde \n\n","in":[{"x":80,"y":180,"wires":[{"id":"102041d3.e5495e"}]}],"out":[{"x":1282,"y":161,"wires":[{"id":"32f34b9a.7900f4","port":0}]}]},{"id":"bffbbbdb.3fece8","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"gps","tz":""},{"id":"4effbac4.8f04e4","type":"redis-config","z":"","host":"127.0.0.1","port":"6379","dbase":"token","pass":"{{REDIS_PASSWORD}}"},{"id":"f43c4231.bef4f","type":"function","z":"f0c9716e.a8cd6","name":"preparo data","func":"msg.payload = [\n    msg.payload,\n    \"\",\n    msg.degree_to_decimal(msg.arrData[msg.posiciones.latitud], msg.arrData[msg.posiciones.dlatitud]),\n    msg.degree_to_decimal(msg.arrData[msg.posiciones.longitud], msg.arrData[msg.posiciones.dlongitud]),\n    msg.arrData[msg.posiciones.velocidad]*msg.constante.velocidad,\n    msg.arrData[msg.posiciones.direccion],\n    msg.dataOriginal\n]\nreturn msg;","outputs":1,"noerr":0,"x":1517,"y":363,"wires":[[]]},{"id":"aeed9c0f.b03eb","type":"switch","z":"f0c9716e.a8cd6","name":"","property":"campos","propertyType":"msg","rules":[{"t":"eq","v":"17","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"19","vt":"str"}],"checkall":"true","outputs":4,"x":190,"y":160,"wires":[["e896786a.ddc488"],["3ca163c3.f0c11c"],["1d2b1bae.9ff234"],["529bd9e8.e10ee8"]]},{"id":"e896786a.ddc488","type":"function","z":"f0c9716e.a8cd6","name":"itrack","func":"\n//obtengo el emei\nmsg.imei = msg.arrData[1];\nmsg.payload = [ \"dispositivos_gps\", msg.imei ]\n\nmsg.posiciones = {\n    latitud : 5,\n    dlatitud : 6,\n    longitud : 7,\n    dlongitud : 8,\n    velocidad : 9,\n    direccion : 10\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":146,"wires":[["e21056fc.edaba8"]]},{"id":"4e54ac30.850c74","type":"debug","z":"f0c9716e.a8cd6","name":"","active":true,"console":"false","complete":"true","x":1000,"y":181,"wires":[]},{"id":"e21056fc.edaba8","type":"redis-command","z":"f0c9716e.a8cd6","server":"4effbac4.8f04e4","command":"hexists","name":"","topic":"","x":671,"y":147,"wires":[["5eaca856.c6ec28"]]},{"id":"5eaca856.c6ec28","type":"function","z":"f0c9716e.a8cd6","name":"existe?","func":"if(msg.payload === 1){\n    msg.payload = [ \"dispositivos_gps\", msg.imei ]\n    return node.send([msg,null]);    \n}else{\n    return node.send([null,msg]);\n}\n","outputs":"2","noerr":0,"x":841,"y":147,"wires":[["779e5ffe.02b41"],["4e54ac30.850c74"]]},{"id":"779e5ffe.02b41","type":"redis-command","z":"f0c9716e.a8cd6","server":"4effbac4.8f04e4","command":"hget","name":"","topic":"","x":1019,"y":140,"wires":[["f43c4231.bef4f"]]},{"id":"3ca163c3.f0c11c","type":"function","z":"f0c9716e.a8cd6","name":"TK103A","func":"\nmsg.imei =  String(msg.arrData[1]).replace(\"imei:\",\"\") ;\n\nmsg.payload = [ \"dispositivos_gps\", msg.imei ]\n\nreturn msg;","outputs":1,"noerr":0,"x":444,"y":306,"wires":[["6d2dea41.c14cf4"]]},{"id":"4c49e4f0.bbc70c","type":"tcp out","z":"f0c9716e.a8cd6","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":1148,"y":281,"wires":[]},{"id":"1d2b1bae.9ff234","type":"function","z":"f0c9716e.a8cd6","name":"TK103 - B","func":"\n\nmsg.imei =  String(msg.arrData[0]).replace(\";\",\"\") ;\n\nmsg.payload = \"**,imei:\"+msg.imei+\",B;\"\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":356,"wires":[["14c378ff.cc7087"]]},{"id":"6d2dea41.c14cf4","type":"redis-command","z":"f0c9716e.a8cd6","server":"4effbac4.8f04e4","command":"hexists","name":"","topic":"","x":645,"y":306,"wires":[["f905c4d8.b645c8"]]},{"id":"f905c4d8.b645c8","type":"function","z":"f0c9716e.a8cd6","name":"existe?","func":"if(msg.payload === 1){\n    msg.payload = [ \"dispositivos_gps\", msg.imei ]\n    return node.send([msg,null]);    \n}else{\n    return node.send([null,msg]);\n}\n","outputs":"2","noerr":0,"x":815,"y":306,"wires":[["fc398b20.370828"],["94d458d1.4a1278"]]},{"id":"fc398b20.370828","type":"function","z":"f0c9716e.a8cd6","name":"LOAD","func":"msg.payload = \"LOAD\";\nreturn msg;","outputs":1,"noerr":0,"x":987,"y":281,"wires":[["4c49e4f0.bbc70c"]]},{"id":"94d458d1.4a1278","type":"debug","z":"f0c9716e.a8cd6","name":"","active":true,"console":"false","complete":"true","x":977,"y":330,"wires":[]},{"id":"14c378ff.cc7087","type":"tcp out","z":"f0c9716e.a8cd6","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":624,"y":356,"wires":[]},{"id":"529bd9e8.e10ee8","type":"function","z":"f0c9716e.a8cd6","name":"TK103 - SaveData","func":"\nmsg.imei =  String(msg.arrData[0]).replace(\"imei:\",\"\") ;\n\nmsg.payload = [ \"dispositivos_gps\", msg.imei ]\n\nmsg.posiciones = {\n    latitud : 7,\n    dlatitud : 8,\n    longitud : 9,\n    dlongitud : 10,\n    velocidad : 11,\n    direccion : 12\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":401,"wires":[["1dcb6fc8.a75c"]]},{"id":"1dcb6fc8.a75c","type":"redis-command","z":"f0c9716e.a8cd6","server":"4effbac4.8f04e4","command":"hexists","name":"","topic":"","x":741,"y":405,"wires":[["467f48f4.cb5f68"]]},{"id":"467f48f4.cb5f68","type":"function","z":"f0c9716e.a8cd6","name":"existe?","func":"if(msg.payload === 1){\n    msg.payload = [ \"dispositivos_gps\", msg.imei ]\n    return node.send([msg,null]);    \n}else{\n    return node.send([null,msg]);\n}\n","outputs":"2","noerr":0,"x":911,"y":405,"wires":[["a3d46ae7.5062f8"],["1dac8e2b.d859d2"]]},{"id":"1dac8e2b.d859d2","type":"debug","z":"f0c9716e.a8cd6","name":"","active":true,"console":"false","complete":"true","x":1073,"y":429,"wires":[]},{"id":"a3d46ae7.5062f8","type":"redis-command","z":"f0c9716e.a8cd6","server":"4effbac4.8f04e4","command":"hget","name":"","topic":"","x":1121,"y":388,"wires":[["f43c4231.bef4f"]]},{"id":"f854c8a8.4e0968","type":"function","z":"910ddb11.615398","name":"almaceno resultado","func":"\nmsg.resultado = msg.payload\n\nmsg.topic = \"SELECT FOUND_ROWS();\"\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":40,"wires":[["59375e07.70f81"]]},{"id":"59375e07.70f81","type":"mysql","z":"910ddb11.615398","mydb":"bffbbbdb.3fece8","name":"","x":390,"y":40,"wires":[["d3823fa2.574d7"]]},{"id":"d3823fa2.574d7","type":"function","z":"910ddb11.615398","name":"preparo Salida","func":"msg.payload = { \n    success: true,\n    message: {\n        found_rows : msg.payload[0][\"FOUND_ROWS()\"],\n        data: msg.resultado\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":40,"wires":[[]]},{"id":"102041d3.e5495e","type":"function","z":"5fd8418d.25117","name":"Obtengo el token","func":"msg.payload = [msg.req.headers.tokenaccess]\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["67a325ee.f4d15c"]]},{"id":"67a325ee.f4d15c","type":"redis-command","z":"5fd8418d.25117","server":"4effbac4.8f04e4","command":"get","name":"","topic":"mikey","x":460,"y":180,"wires":[["a161b985.e47558"]]},{"id":"a161b985.e47558","type":"function","z":"5fd8418d.25117","name":"valido","func":"var data = JSON.parse(msg.payload)\n\nif(data){\n    msg.dataSession = data\n    msg.key = msg._msgid+data.id_usuario+data.username\n    return node.send([msg, null])\n}else{\n    msg.payload = {\n        success : false,\n        message: \"No autorizado\"\n    }\n    \n    return node.send([null,msg])\n}","outputs":"2","noerr":0,"x":610,"y":180,"wires":[["e3819cab.0b18f"],["2633a597.6c92fa"]]},{"id":"2633a597.6c92fa","type":"function","z":"5fd8418d.25117","name":"headers","func":"msg.statusCode = 401;\nmsg.headers = { 'tokenaccess': msg.req.headers.tokenaccess }\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":220,"wires":[["55c98f61.eb4b7"]]},{"id":"55c98f61.eb4b7","type":"http response","z":"5fd8418d.25117","name":"","statusCode":"","headers":{},"x":950,"y":220,"wires":[]},{"id":"394da410.babb0c","type":"redis-command","z":"5fd8418d.25117","server":"4effbac4.8f04e4","command":"expire","name":"","topic":"mikey","x":992,"y":161,"wires":[["32f34b9a.7900f4"]]},{"id":"32f34b9a.7900f4","type":"function","z":"5fd8418d.25117","name":"headers","func":"msg.headers = { 'tokenaccess': msg.tokenAccess }\nreturn msg;","outputs":1,"noerr":0,"x":1162,"y":161,"wires":[[]]},{"id":"e3819cab.0b18f","type":"function","z":"5fd8418d.25117","name":"tokenAccess","func":"msg.tokenAccess = msg.req.headers.tokenaccess\nmsg.payload = [ msg.tokenAccess, 1200 ]\nreturn msg;","outputs":1,"noerr":0,"x":812,"y":161,"wires":[["394da410.babb0c"]]},{"id":"37e69ef5.1c9912","type":"mysql","z":"2342772e.7a8418","mydb":"bffbbbdb.3fece8","name":"gps","x":390,"y":80,"wires":[["b1d5be18.a2ddc"]]},{"id":"aea92e5.66835d","type":"function","z":"2342772e.7a8418","name":"login","func":"var mysql = context.global.mysql;\n\nvar sql = \"SELECT * FROM usuario WHERE username = ? AND password = ?\";\n\nmsg.topic = mysql.format(sql, [msg.payload.username, msg.payload.password]);\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":81,"wires":[["37e69ef5.1c9912"]]},{"id":"3fe19119.4a78fe","type":"http in","z":"2342772e.7a8418","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":109,"y":81,"wires":[["aea92e5.66835d"]]},{"id":"1d25fc28.226784","type":"catch","z":"2342772e.7a8418","name":"","scope":null,"x":106,"y":1099,"wires":[["5131e566.a0ad4c","807c96fb.eb76b8"]]},{"id":"e1c35df7.b7481","type":"http response","z":"2342772e.7a8418","name":"","statusCode":"","headers":{},"x":460.9999942779541,"y":1097.0000162124634,"wires":[]},{"id":"b1d5be18.a2ddc","type":"function","z":"2342772e.7a8418","name":"prepararKey","func":"if(msg.payload.length > 0){\n    msg.data = msg.payload\n    msg.key = msg._msgid+msg.data[0].id_usuario+msg.data[0].username\n    return node.send([msg, null])\n}else{\n    msg.headers = { 'tokenaccess': '' }\n    msg.payload = {\n        success : false,\n        message : \"Error al identificar\"\n    }\n    return node.send([null,msg])\n}","outputs":"2","noerr":0,"x":536.0000305175781,"y":81.0000057220459,"wires":[["84c14a6c.839628"],["69b52ab9.98f084"]]},{"id":"226bbc96.f7fac4","type":"redis-command","z":"2342772e.7a8418","server":"4effbac4.8f04e4","command":"setex","name":"","topic":"mikey","x":1240.0004081726074,"y":47.00002956390381,"wires":[["e280c3ef.5833b"]]},{"id":"9731bdaf.c775b","type":"bcrypt","z":"2342772e.7a8418","name":"","action":"encrypt","field":"payload","hash":"payload","rounds":10,"x":909.000072479248,"y":47.0000114440918,"wires":[["1df6c05f.152e6"]]},{"id":"84c14a6c.839628","type":"change","z":"2342772e.7a8418","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"key","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":733.0000762939453,"y":47.000006675720215,"wires":[["9731bdaf.c775b"]]},{"id":"1df6c05f.152e6","type":"function","z":"2342772e.7a8418","name":"tokenAccess","func":"msg.tokenAccess = msg.payload\nmsg.payload = [ msg.tokenAccess, 1200, JSON.stringify(msg.data[0])]\nreturn msg;","outputs":1,"noerr":0,"x":1066.0002479553223,"y":47.000020027160645,"wires":[["226bbc96.f7fac4"]]},{"id":"e280c3ef.5833b","type":"function","z":"2342772e.7a8418","name":"respuestaFinal","func":"msg.payload = {\n    success : true,\n    message : msg.data[0],\n    tokenaccess : msg.tokenAccess \n}\nmsg.headers = { 'tokenaccess': msg.tokenAccess, 'access-control-expose-headers': \"tokenaccess\" }\nreturn msg;","outputs":1,"noerr":0,"x":1423.140956878662,"y":46.63674259185791,"wires":[["69b52ab9.98f084"]]},{"id":"5131e566.a0ad4c","type":"function","z":"2342772e.7a8418","name":"","func":"msg.statusCode = 500;\nmsg.payload = {\n    success : false,\n    message : msg.error.message\n}\nreturn msg;","outputs":1,"noerr":0,"x":275.13674545288086,"y":1097.4492502212524,"wires":[["e1c35df7.b7481"]]},{"id":"3f0917a6.61ce48","type":"http in","z":"2342772e.7a8418","name":"","url":"/grupos","method":"get","upload":false,"swaggerDoc":"","x":111,"y":201.0000057220459,"wires":[["311b5d8b.20ab72"]]},{"id":"98d305b0.30b5a8","type":"mysql","z":"2342772e.7a8418","mydb":"bffbbbdb.3fece8","name":"gps","x":661.86328125,"y":202.8984375,"wires":[["b7fcc7e0.356c88"]]},{"id":"8c60f8b1.69c788","type":"function","z":"2342772e.7a8418","name":"GruposUsuario","func":"msg.topic = \"SELECT SQL_CALC_FOUND_ROWS g.* \\\nFROM usuario_grupo ug \\\n\tINNER JOIN grupo g \\\n\t\tON g.id_grupo = ug.id_grupo \\\nWHERE ug.id_usuario = '\"+ msg.dataSession.id_usuario +\"';\"\nreturn msg;","outputs":1,"noerr":0,"x":491.86328125,"y":202.8984375,"wires":[["98d305b0.30b5a8"]]},{"id":"da49abf7.b40468","type":"http in","z":"2342772e.7a8418","name":"","url":"/dispositivos","method":"get","upload":false,"swaggerDoc":"","x":121,"y":281.0000057220459,"wires":[["44ae3c6d.861394"]]},{"id":"9d5298e7.5f3648","type":"mysql","z":"2342772e.7a8418","mydb":"bffbbbdb.3fece8","name":"gps","x":701,"y":281.0000057220459,"wires":[["b7fcc7e0.356c88"]]},{"id":"241d34b8.fdd9bc","type":"function","z":"2342772e.7a8418","name":"DispositivosUsuario","func":"msg.topic = \"SELECT SQL_CALC_FOUND_ROWS * \\\nFROM usuario_grupo ug \\\nINNER JOIN grupo g \\\n\tON g.id_grupo = ug.id_grupo \\\nINNER JOIN grupo_dispositivo gd \\\n\tON g.id_grupo = gd.id_grupo \\\nINNER JOIN dispositivo d \\\n\tON d.id_dispositivo = gd.id_dispositivo \\\nWHERE ug.id_usuario = '\"+ msg.dataSession.id_usuario +\"';\"\nreturn msg;","outputs":1,"noerr":0,"x":511,"y":281.0000057220459,"wires":[["9d5298e7.5f3648"]]},{"id":"70d2d9a9.147c08","type":"subflow:5fd8418d.25117","z":"2342772e.7a8418","name":"","x":311,"y":361.0000057220459,"wires":[["af134698.b00e58"]]},{"id":"d0f80b15.447bc8","type":"http response","z":"2342772e.7a8418","name":"","statusCode":"","headers":{},"x":2031,"y":210,"wires":[]},{"id":"af134698.b00e58","type":"function","z":"2342772e.7a8418","name":"TrackPoint","func":"var mysql = context.global.mysql;\n\nvar offset = 0;\nvar limit = 100;\n\nif(msg.req.query.offset)\n    offset = mysql.escape(parseInt(msg.req.query.offset));\nif(msg.req.query.limit)\n    limit = mysql.escape(parseInt(msg.req.query.limit));\n\nvar q = \"SELECT SQL_CALC_FOUND_ROWS \\\n        tp.id_trackpoint, \\\n    tp.fecha, \\\n    tp.id_dispositivo, \\\n    truncate(tp.latitud, 4) as latitud, \\\n    truncate(tp.longitud, 4) as longitud, \\\n    tp.direccion, \\\n    tp.alarma, \\\n    tp.velocidad \\\n    FROM trackpoint tp \\\n\tINNER JOIN grupo_dispositivo gd \\\n\t\tON gd.id_dispositivo = tp.id_dispositivo \\\n\tINNER JOIN grupo g \\\n\t\tON g.id_grupo = gd.id_grupo \\\n\tINNER JOIN usuario_grupo ug \\\n\t\tON ug.id_grupo = g.id_grupo \\\nWHERE ug.id_usuario = \"+ mysql.escape(msg.dataSession.id_usuario)\n\nif(msg.req.query.id_dispositivo){\n    q += \" AND tp.id_dispositivo IN (\"+ mysql.escape(msg.req.query.id_dispositivo) +\")\"\n}\n\nif(msg.req.query.fecha_ini){\n    q += \" AND tp.fecha >= \" + mysql.escape(msg.req.query.fecha_ini)\n}\nif(msg.req.query.fecha_fin){\n    q += \" AND tp.fecha <= \" + mysql.escape(msg.req.query.fecha_fin)\n}\n\n//q += \" ORDER BY id_trackpoint DESC \\\n//LIMIT \"+offset+\",\"+limit+\";\";\n// q += \" GROUP BY truncate(tp.latitud, 4), truncate(tp.longitud, 4)\";\nq += \" ORDER BY id_trackpoint DESC;\";\n\n\nmsg.topic = q;\nreturn msg;","outputs":1,"noerr":0,"x":491,"y":361.0000057220459,"wires":[["e2939ee.1b2576","b419bc11.5487d"]]},{"id":"311b5d8b.20ab72","type":"subflow:5fd8418d.25117","z":"2342772e.7a8418","name":"","x":301.86328125,"y":202.8984375,"wires":[["8c60f8b1.69c788"]]},{"id":"44ae3c6d.861394","type":"subflow:5fd8418d.25117","z":"2342772e.7a8418","x":301,"y":281.0000057220459,"wires":[["241d34b8.fdd9bc"]]},{"id":"e2939ee.1b2576","type":"mysql","z":"2342772e.7a8418","mydb":"bffbbbdb.3fece8","name":"","x":651,"y":361.0000057220459,"wires":[["b7fcc7e0.356c88"]]},{"id":"b7fcc7e0.356c88","type":"subflow:910ddb11.615398","z":"2342772e.7a8418","name":"","x":1007,"y":281,"wires":[["69b52ab9.98f084"]]},{"id":"d060ccce.09bef","type":"http in","z":"2342772e.7a8418","name":"","url":"/puntos","method":"get","upload":false,"swaggerDoc":"","x":111,"y":361.0000057220459,"wires":[["70d2d9a9.147c08"]]},{"id":"1db59f0.26c9f61","type":"http in","z":"2342772e.7a8418","name":"","url":"/logout","method":"get","upload":false,"swaggerDoc":"","x":111,"y":441.0000057220459,"wires":[["3dcce60.5c60b1a"]]},{"id":"3dcce60.5c60b1a","type":"subflow:5fd8418d.25117","z":"2342772e.7a8418","x":311,"y":441.0000057220459,"wires":[["585880c.9cba78"]]},{"id":"6bb60935.9d19d8","type":"function","z":"2342772e.7a8418","name":"clear auth","func":"msg.headers = { 'tokenaccess': '' }\nmsg.payload = {\n    success: true,\n    message: \"bye!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":945,"y":441,"wires":[["69b52ab9.98f084"]]},{"id":"6cc02006.6f686","type":"comment","z":"2342772e.7a8418","name":"Login de usuarios","info":"Login de usuarios\nVerifica al usuario y crea un token en redis","x":129,"y":42,"wires":[]},{"id":"807c96fb.eb76b8","type":"debug","z":"2342772e.7a8418","name":"","active":false,"console":"false","complete":"true","x":284,"y":1039,"wires":[]},{"id":"289631d5.8608ae","type":"json","z":"2342772e.7a8418","name":"","pretty":false,"x":1855,"y":211,"wires":[["d0f80b15.447bc8"]]},{"id":"566ff7c4.d804b8","type":"tcp in","z":"2342772e.7a8418","name":"","server":"server","host":"","port":"8081","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":100,"y":561,"wires":[["bd26871c.99bf68","1820a2eb.48ebed"]]},{"id":"bd26871c.99bf68","type":"function","z":"2342772e.7a8418","name":"obtengo data","func":"\nmsg.degree_to_decimal = function(coordinates_in_degrees, direction){\n  degrees = parseInt(coordinates_in_degrees / 100);\n  minutes = coordinates_in_degrees - (degrees * 100);\n  seconds = minutes / 60;\n  coordinates_in_decimal = degrees + seconds;\n  if ((direction == \"S\") || (direction == \"W\"))\n      coordinates_in_decimal = coordinates_in_decimal * (-1);\n  return coordinates_in_decimal.toFixed(6);\n};\n\nmsg.arrData = String(msg.payload).split(\",\");\nmsg.campos = msg.arrData.length;\nmsg.dataOriginal = msg.payload;\nmsg.constante = {\n    velocidad : 1.852\n};\nreturn msg;","outputs":1,"noerr":0,"x":267,"y":561,"wires":[["3d40596b.5d99d6"]]},{"id":"cf9960ce.36384","type":"comment","z":"2342772e.7a8418","name":"Socket recepcion data","info":"","x":141,"y":515,"wires":[]},{"id":"cdbc1551.343318","type":"function","z":"2342772e.7a8418","name":"inserto","func":"mysql = context.global.mysql\n\nmsg.topic = mysql.format(\"INSERT INTO trackpoint \\\n(fecha, id_dispositivo, alarma, latitud, longitud, velocidad, direccion, data) \\\nvalues (now(),?,?,?,?,?,?,?)\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":653,"y":561,"wires":[["58bd4c90.17ba34"]]},{"id":"58bd4c90.17ba34","type":"mysql","z":"2342772e.7a8418","mydb":"bffbbbdb.3fece8","name":"","x":966,"y":559,"wires":[[]]},{"id":"3d40596b.5d99d6","type":"subflow:f0c9716e.a8cd6","z":"2342772e.7a8418","name":"","x":471,"y":561,"wires":[["cdbc1551.343318"]]},{"id":"2ccf1668.a84b4a","type":"redis-command","z":"2342772e.7a8418","server":"4effbac4.8f04e4","command":"del","name":"","topic":"mikey","x":708,"y":443,"wires":[["6bb60935.9d19d8"]]},{"id":"585880c.9cba78","type":"function","z":"2342772e.7a8418","name":"EliminaToken","func":"msg.payload = [msg.req.headers.tokenaccess]\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":443,"wires":[["2ccf1668.a84b4a"]]},{"id":"69b52ab9.98f084","type":"function","z":"2342772e.7a8418","name":"headers","func":"msg.headers['access-control-expose-headers'] = \"tokenaccess\"\nreturn msg;","outputs":1,"noerr":0,"x":1656,"y":211,"wires":[["289631d5.8608ae"]]},{"id":"1820a2eb.48ebed","type":"debug","z":"2342772e.7a8418","name":"","active":true,"console":"false","complete":"true","x":453,"y":684,"wires":[]},{"id":"b419bc11.5487d","type":"debug","z":"2342772e.7a8418","name":"","active":true,"console":"false","complete":"true","x":876,"y":153,"wires":[]}]